#{extends 'main.html' /}
#{set title:'Get Event' /}

<div>
   <h1>Event ${title ?: 'Error'}</h1>
</div>

<div class="control-group">
    <label>Event Title: </label>
</div>

<div class="control-group">
    <label>Description</label>
</div>

  <div class="control-group">
    <label class="control-label" for="inputVenue">Venue</label>
  </div>


  <div class="control-group">
    <label>Start Time</label>
  </div>

  <div class="control-group">
    <label>Duration</label>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="inputCategory">Category</label>
  </div>
</div>