 #{extends 'main.html' /}
    <div>
        <h1>Add an Event</h1>
    </div>
#{form @addEvent()}
 <style>
  label { padding: 0; marign: 0; display: block; }
  textarea { width: 100%; border: 1px solid #333; padding: 4px; }
  .the-fix { padding-right: 10px; }
 </style>


<div class="row">

<div class="control-group span3">
    #{field 'inputTitle'}
    <label>Event Title: </label>
      <input type="text" name="${field.name}" placeholder="Title">
    #{/field}
</div>

<div class="control-group span3">
    <label class="control-label" for="inputVenue">Venue</label>
    <div class="controls">
      <input type="text" id="inputVenue" placeholder="Venue">
    </div>
  </div>

</div>

<div class="row">


  <div class="span3">
    #{field 'inputStartTime'}
    <label>Start Time</label>
    <input type="text" name="${field.name}" placeholder="StartTime">
    #{/field}
  </div>

  <div class="span3">
    <label>Duration</label>
    <input type="text" id="inputDuration" placeholder="Duration">
  </div>
  
</div>

<div clas="row">

  <div class="the-fix">
    #{field 'inputDescription'}
    <label>Description</label>
      <textarea rows="3" type="description" name="${field.name}" placeholder="Description"></textarea>
    #{/field} 
  </div>

</div>

<div class="row">

<div class="span3">
    #{field 'inputCategory'}
    <label class="control-label">Category</label>
    <div class="controls">
      <select name="${field.name}">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
   </select>
    </div>
    #{/field}
  </div>

</div>

<div class="form-actions" align="center">
  <button type="submit" class="btn btn-primary">Save changes</button>
  <button type="button" class="btn">Cancel</button>
</div>

<div>
  <br/><br/><br/><br/><br/><br/><br/>
</div>
  

</div>
#{/form}