#{extends 'main.html'/}

#{if e}
    <div>
       <h2>${e.title}</h2>
    </div>
    <div>
        <label>Description: ${e.description}</label>
    </div>
    <div>
        <label>Category: ${e.category}</label>
    </div>
    <div>
        <label>Date: ${e.date}</label>
    </div>
    <div
        <label>Time: ${e.startTime}</label>
    </div>
    <div>
        <label>#{if e.duration} Duration: ${e.duration/60} #{/if}</label>
    </div>
#{/if}
 
#{else}
    <div>
        There is currently nothing to read here.
    </div>
#{/else}
    
