#{extends 'main.html'/}

#{if e}
    <div class="event-title">
       <h2>${e.title}</h2>
    </div>
    <div class="event-description">
        <label>Description: ${e.description}</label>
    </div>
    <div class="event-category">
        <label>Category: ${e.category}</label>
    </div>
    <div class="event-date">
        <label>Date: ${e.date}</label>
    </div>
    <div class="event-startTime">
        <label>Time: ${e.startTime}</label>
    </div>
    <div class="event-duration">
        <label>#{if e.duration} Duration: ${e.duration/60} #{/if}</label>
    </div>
#{/if}
 
#{else}
    <div class="empty">
        There is currently nothing to read here.
    </div>
#{/else}
    
