#{extends 'main.html' /}
#{set title:'Add Event' /}

<div>

  <div align="center">

<h3>HELLO WORLD</h3><br><br><br>

</div>
<div class="btn-group span2" align="center">
  <a class="btn btn-large btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
    Category
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
  </ul>



</div>

<div class="btn-group span2" align="center">
  <a class="btn btn-large btn-info dropdown-toggle" data-toggle="dropdown" href="#">
    Specify
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
   
  </ul>



</div>

<div class="btn-group span2" align="center">
  <a class="btn btn-large btn-warning dropdown-toggle" data-toggle="dropdown" href="#">
    Location
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
  </ul>
</div>

  <div align="center">
<br/><br/><br/>
    <button class="btn btn-large btn-success">Oh Snap!</button>

  </div>




</div>