#{extends 'main.html' /}
#{set title:'Index' /}

<div class="row" align="center">
<br/><br/>
  <img  width="200px" src="public/img/logo.png"></a>
  <br/><br/>

</div>


<div>

  <div align="center">

<h3>So... What do you fancy today?</h3><br><br>

</div>

</div>



<div class="span6" align="center">

<i class="icon-globe"></i>
<i class="icon-headphones"></i>
<i class="icon-calendar"></i>
<i class="icon-glass"></i>
<i class="icon-camera"></i><br/><br/>
</div>

<div class="row">
  
  <div class="btn-group span3" align="center">
    

#{form @Application.filterEvents()}    
	
	
	
	#{field 'inputCategory'}    
    <select name="${field.name}">
      <option>Category</option>
      
      #{list items:cats, as:'c'}
		<option>${c}</option>	
	  #{/list}
    </select>
    #{/field}

  </div>

  <div class="btn-group span3" align="center">
  	#{field 'inputLocation'}    
    <select name="${field.name}">
      <option>Location</option>
      #{list items:locs, as:'l'}
		<option>${l}</option>	
	  #{/list}
    </select>
    #{/field}


  </div>

</div>
<br><br>
  <div class="span6" align="center">

    <button type ="submit" class="btn btn-large btn-success">Search Events</button>
    

  </div>


  
#{/form}







        <div id="footer" align="center">
      

        <!--
      
        <div class="navbar navbar-fixed-bottom" style="height:150px; background-color:white; padding:5px; bottom:0px;" align="center">
         
        
        <ul class="thumbnails" align="center">
          
          <li class="span3">
            <div class="thumbnail">
                
              <b>Ice Skating - 20/12/2012</b>
                <img src="public/images/ImageGen.jpeg" alt="">
            </div>
          </li>
          
          <li class="span3">
            <div class="thumbnail">
                <img src="" alt="">
              <b>London Visit - 29/11/2012</b>
                <img src="public/images/ImageGen (1).jpeg" alt="">
            </div>
          </li>
          
          <li class="span3">
            <div class="thumbnail">
                <img src="" alt="">
              <h3>Football</h3>
              <p>Enough with the football manager.</p>
            </div>
          </li>
          
          <li class="span3">
            <div class="thumbnail">
                <img src="" alt="">
              <h3>Art Class</h3>
              <p>Painting, drawing, let's get mucky.</p>
            </div>
          </li>
          
          <li class="span3">
            <div class="thumbnail">
                <img src="" alt="">
              <h3>Maths</h3>
              <p>Something mathsy, I'm too tired to think.</p>
            </div>
          </li>
          
        
        </ul>
      </div>
      </div>

    -->

    </div>