#{extends 'main.html'/}

#{if e}

<div class="row">

<div>
    <h1>View Event</h1>
    <br/><br/>
</div>

</div>



<div class="row">
   
    <i class="icon-list"></i><b> Description</b>
    <label>Description Label</label>
    <br/>

</div>


<div class="row">
        <i class="icon-tag"></i><b> Category</b>
        <label>Category Label</label>
        <br/>

</div>

<div class="row">

        <i class="icon-calendar"></i><b> Date</b>
        <label>Date Label</label>
        <br/>

</div>   

<div class="row">

        <i class="icon-calendar"></i><b> Start Time</b>
        <label>Time Label</label>
        <br/>

</div>   

<div class="row">

        <i class="icon-calendar"></i><b> Duration</b>
        <label>Duration Label</label>
        <br/>

</div>   

<div class="row">

        <i class="icon-map-marker"></i><b> Location</b>
        <label>Location Label</label>
        <br/>

</div>  



    <div>
        <label>#{if e.duration} Duration: ${e.duration/60} #{/if}</label>
    </div>
#{/if}
 
#{else}
    <div>
        There is currently nothing to read here.
    </div>
#{/else}
    
