 #{extends 'main.html' /}

     <div>
       <h2>${venue.name}</h2>
    </div>




    <div>
    <h1>View Venue</h1>
    <br/><br/>
</div>


<div class="row">
   
    <i class="icon-home"></i><b> Venue Title</b>
    <label>Title Label</label>
    <br/>

</div>


<div class="row">
   
    <i class="icon-map-marker"></i><b> Location</b>
    <label>Description Label</label>
    <br/>

</div>


<div class="row">
   
    <i class="icon-glass"></i><b> Events at this Venue</b>
   #{list items:realtedEvents, as:'event'}
    <a href="/getEvent/${event.title}"><label>${event.title}</label></a>
    <br/>
   #{/list}

</div>

</div>

