#{extends 'main.html'/}

#{if e}

<div class="row">

<div>
    <h1>${e.title}</h1>
    <br/><br/>
</div>

</div>



<div class="row">
   
    <i class="icon-list"></i><b> Description</b>
    <label>${e.description}</label>
    <br/>

</div>


<div class="row">
        <i class="icon-tag"></i><b> Category</b>
        <label>${e.category}</label>
        <br/>

</div>

<div class="row">

        <i class="icon-calendar"></i><b> Date</b>
        <label>${e.date}</label>
        <br/>

</div>   

<div class="row">

        <i class="icon-calendar"></i><b> Start Time</b>
        <label>${e.startTime}</label>
        <br/>

</div>   

<div class="row">

        <i class="icon-calendar"></i><b> Duration</b>
        <label>${e.duration}</label>
        <br/>

</div>   

<div class="row">


        <i class="icon-map-marker"></i><b> Location</b>
        
        <a href="/getVenue/${e.venue}">
            <label>${e.venue}</label></a>
        <br/>

</div>  
#{/if}
 
#{else}
    <div>
        There is currently nothing to read here.
    </div>
#{/else}
    
