<!DOCTYPE html>
<html>
  <head>
    <title>Main</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="public/stylesheets/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="public/stylesheets/main.css" type="text/css">
    <link rel="javascript" href="public/javascripts/bootstrap.min.js" type= "text/js">

    <script type=text/javascript>
      $('#popover').popover()
      $('#tooltip').tooltip()
    </script>

  </head>

  <body>



    <div style="position:fixed; width:100%; height:100px; background-color:grey; padding:5px; top:0px; ">
      
      <div class="masthead">

        <ul class="nav nav-pills pull-right">

          <li class="active"><a href="#">Home</a></li>

          <li><a href="#" rel="popover" data-placement="bottom" data-content="More information" data-trigger="hover" data-original-title="About">About</a></li>

          <li><a href="#">Contact</a></li>

          <li><a href="#">Admin</a></li>

        </ul>

      </div>

      <div id="heading">
        <h1 class="muted">CentrePoint Event</h1>
        <p class="lead">Find events and opportunities perfect for you. (reword)</p>
      </div>

    </div>

      
      <div class="span6 offset4">
        <br/><br/><br/>
        <br/><br/><br/>
        <div class="component">
        <div id="main">
          #{doLayout /}
        </div>
      </div>
      </div>

      <div id="footer" align="center">
      
     

        <div style="position:fixed; width:100%; height:120px; background-color:grey; padding:5px; bottom:0px; ">
         
        
        <ul class="thumbnails">
          
          <li class="span2">
            <div class="thumbnail">
                <img src="" alt="">
              <h3>Dance</h3>
              <p>Gangnam Style all the way...</p>
            </div>
          </li>
          
          <li class="span2">
            <div class="thumbnail">
                <img src="" alt="">
              <h3>Cooking</h3>
              <p>Food and a bit more or something.</p>
            </div>
          </li>
          
          <li class="span2">
            <div class="thumbnail">
                <img src="" alt="">
              <h3>Football</h3>
              <p>Enough with the football manager.</p>
            </div>
          </li>
          
          <li class="span2">
            <div class="thumbnail">
                <img src="" alt="">
              <h3>Art Class</h3>
              <p>Painting, drawing, let's get mucky.</p>
            </div>
          </li>
          
          <li class="span2">
            <div class="thumbnail">
                <img src="" alt="">
              <h3>Art Class</h3>
              <p>Painting, drawing, let's get mucky.</p>
            </div>
          </li>
          
          <li class="span2">
            <div class="thumbnail">
                <img src="" alt="">
              <h3>Art Class</h3>
              <p>Painting, drawing, let's get mucky.</p>
            </div>
          </li>
        
        </ul>
      
      </div>

    </div>

    </div>

    </div>
      
  </body>
</html>