<!DOCTYPE html>
<html>
  <head>
    <title>Main</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="public/stylesheets/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="public/stylesheets/main.css" type="text/css">
    <link rel="javascript" href="public/javascripts/bootstrap.min.js" type= "text/js">

    

  </head>

  <body>



    <div style="position:fixed; width:100%; height:100px; background-color:#CC3300; padding:5px; top:0px; ">
      
      <div class="masthead">

        <ul class="nav nav-pills pull-right">

          <li class="muted"><a href="/"><font color="white">Home</font></a></li>

          <li><a href="http://www.centrepoint.org.uk/"><font color="white">About</font></a></li>

          <li><a href="http://www.centrepoint.org.uk/"><font color="white">Contact</font></a></li>

          <li><a href="/displayEvents"><font color="white">All Events</font></a></li>


          <li><a href="/displayEvents"><font color="white">Venus</font></a></li>
          
            


          <li><a href="/adminHome"><font color="white">Admin</font></a></li>

        </ul>

      </div>

      <div id="heading">
        <h1><font color="white">Centrepoint Event Hub</font></h1>
        <p class="lead">Find events and opportunities near you.</p>
      </div>

    </div>

      
      <div align=>
        <br/><br/><br/><br/>
        <br/><br/>
        <div class="component">
        <div id="main" class="span6 offset5">
          #{doLayout /}
        </div>
      </div>
      </div>

      

    </div>

    </div>

    </div>
      
  </body>
</html>